<ion-header>
  <ion-navbar>
    <ion-title>
      Select person
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="ppi-people-screen">

    <!-- <div #activitiesZone class="ppi-people-screen__activities">
      <div
        *ngFor="let activity of activities"
        [style.left.px]="positions[activity.id].x"
        [style.top.px]="positions[activity.id].y"
        class="ppi-circle">
        <img [src]="activity.image"/>
      </div>
    </div> -->
    <div #activeZone class="ppi-people-screen_people">
      <div *ngIf="positions">
        <div
          *ngFor="let person of people"
          [style.left.px]="positions[person.id].x"
          [style.top.px]="positions[person.id].y"
          class="ppi-circle">
          <img [src]="person.image"/>
        </div>
      </div>

      <div #obstacle class="ppi-dnd-button">
          Drag person here
      </div>
    </div>

    <div class="ppi-greating">
        <div class="ppi-greating__circle">
            Who you want to see today?
        </div>
    </div>

    <div class="ppi-people-screen_activities">
      <!-- <div class="ppi-people-screen_activities__button">
        <img src="assets/imgs/activities/running.png"/>
      </div> -->
    </div>

    <div class="ppi-basket">
        <img src="assets/imgs/business.png"/>
    </div>
  </div>
</ion-content>
