<ion-header>
  <ion-navbar>
    <ion-title>
      Select person
    </ion-title>
  </ion-navbar>
  <user-info></user-info>
</ion-header>

<ion-content padding>
  <div class="ppi-people-screen" (click)="onPersonClick($event, undefined)">

    <div #activeZone class="ppi-people-screen_people">
      <div *ngIf="positions">
        <div
          *ngFor="let person of people"
          [id]="person.id"
          [style.left.px]="positions[person.id].x"
          [style.top.px]="positions[person.id].y"
          [ngClass]="{ 'ppi-circle': true, 'ppi-dragging-circle': person.isDragged, 'ppi-selected-circle': (selectedPerson && person.ref.id === selectedPerson.id), 'ppi-blured-circle': selectedPerson && (person.ref.id !== selectedPerson.id) }"
          (mousedown)="onCircleMouseDown($event, person)"
          (touchstart)="onCircleMouseDown($event, person)"
          (click)="onPersonClick($event, person.ref)"
          >
          <img [src]="person.image"/>
        </div>
      </div>

      <div
        #obstacle
        [ngClass]="{ 'ppi-dnd-button': true, 'ppi-dnd-button-active': this.dragZoneIsActive }"
        >
          Drag person here
      </div>
    </div>

    <div class="ppi-greating">
        <div *ngIf="!selectedPerson" class="ppi-greating__circle">
            Who you want to see today?
        </div>
        <div *ngIf="selectedPerson" class="ppi-greating__circle">
            <div>That is <b>{{selectedPerson.fullName}}</b>.</div>
            <div class="ppi-greating-description">
              {{selectedPerson.description}}
            </div>            
        </div>
    </div>

    <div class="ppi-people-screen_activities">
      <div
        *ngIf="activity"
        class="ppi-circular-button ppi-circular-icon"
        (click)="changeActivity()">
        <img [src]="activity.image"/>
      </div>
    </div>

    <div class="ppi-basket">
        <img src="assets/imgs/business.png"/>
    </div>
  </div>
</ion-content>
