page-people {
    .ppi-people-screen {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;

        &_people, &_activities {
            z-index: 10;
            width: 40vmin;
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    } 

    .ppi-circle {
        border: 3px solid rgb(68, 139, 68);
        background: 3px solid rgb(68, 139, 68);
        opacity: 0.8;
    }

    .ppi-greating__circle {
        img {
            width: 100%;
            height: 100%; 
        }
    }
}
