<ion-header>
  <ion-navbar>
    <ion-title>
      Select place
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="ppi-places-screen">
      <div class="ppi-places-screen_people">
        <div
          *ngIf="person"
          class="ppi-circular-button ppi-circular-image"
          (click)="changePerson()">
          <img [src]="person.image"/>
        </div>
      </div>

      <div class="ppi-greating">
          <div *ngIf="!selectedPlace" class="ppi-greating__circle">
              Where do you want to go?
          </div>
          <div *ngIf="selectedPlace" class="ppi-greating__circle">
              <img [src]="selectedPlace.image">
          </div>
      </div>

      <div class="ppi-places-screen_activities">
        <div
          *ngIf="activity"
          class="ppi-circular-button ppi-circular-icon"
          (click)="changeActivity()">
          <img [src]="activity.image"/>
        </div>
      </div>

      <div #placesList class="ppi-places-screen_places" *ngIf="places">
          <div
            #dropZone
            [ngClass]="{ 'ppi-places-screen_places__dnd-place': true, 'ppi-dnd-place-active': this.dropZoneIsActive }">
            Drag option here
          </div>
          <div class="ppi-places-screen_places__list">
            <div class="ppi-place-shadow" *ngFor="let place of places">
              <div
                [ngClass]="{ 'ppi-place': true, 'ppi-dragging-circle': place.isDragged }"
                [style.left.px]="place.isDragged ? place.position.x : null"
                (mousedown)="onPlaceMouseDown($event, place)"
                (touchstart)="onPlaceMouseDown($event, place)"
                (click)="onPlaceClick($event, place)">
                <img [src]="place.ref.image"/>
              </div>
            </div>
          </div>
          <div class="ppi-places-screen_places__basket">
            <img src="assets/imgs/business.png"/>
          </div>
      </div>
    <!-- <div class="ppi-places-screen__bottom-row"></div> -->
  </div>
</ion-content>
