<div class="ppi-edit-panel" *ngIf="appDataService.authorization && friends">
  <div class="ppi-edit-panel__header">
    <h2>Friends ({{friends.length}})</h2>
    <button class="ppi-collapse-button" (click)="collapsed=!collapsed">
      {{collapsed ? '+' : '-'}}
    </button>
  </div>
  <ul [ngClass]="{'ppi-entity-list': true, 'ppi-entity-list-collapsed': collapsed}">
    <li *ngFor="let person of friends" class="ppi-friend">
      <div class="ppi-friend__image">
        <img [src]="person.image" class="ppi-friend__image"/>
      </div>
      <span class="ppi-friend__name">{{person.fullName}}</span>
      <span class="ppi-friend__buttons">
        <button class="ppi-remove-button" (click)="onRemoveFriend(person)">Remove</button>
      </span>
    </li>
    <li class="ppi-friend">
      <input
        type="text"
        class="ppi-text-input"
        placeholder="Enter email"
        [(ngModel)]="newFriendEmail"
      />
      <span class="ppi-friend__buttons">
        <button class="ppi-submit-button" (click)="onAddFriend()">Add friend</button>
      </span>
    </li>
  </ul>
</div>