page-activities {
    .ppi-activities-screen {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;

        &_people, &_activities {
            z-index: 10;
            width: 40vmin;
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }

    .ppi-circle {
        border: 3px solid white;
        background: 3px solid white;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
            height: 70%;
        }
    }

    .ppi-skip-button {
        width: 100%;
        height: 100%;
        float: right;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        font-size: 35px;
        color: white;
        transition: opacity 1s;

        &:hover {
            opacity: 0.8;
        }
    }
}
