<ion-header>
  <ion-navbar>
    <ion-title>
      Select activity
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="ppi-activities-screen">

    <div class="ppi-activities-screen_people">
      <div 
        *ngIf="person"
        class="ppi-circular-button ppi-circular-image"
        (click)="changePerson()">
        <img [src]="person.image"/>
      </div>
    </div>

    <div class="ppi-greating">
        <div class="ppi-greating__circle">
            What do you want to do today?
        </div>
    </div>

    <div #activeZone class="ppi-activities-screen_activities">
      <div *ngIf="positions">
        <div
          *ngFor="let activity of activities"
          [id]="activity.id"
          [style.left.px]="positions[activity.id].x"
          [style.top.px]="positions[activity.id].y"
          [ngClass]="{ 'ppi-circle': true, 'ppi-dragging-circle': activity.isDragged }"
          (mousedown)="onCircleMouseDown($event, activity)">
          <img [src]="activity.image"/>
        </div>
      </div>
      <div
        #obstacle
        [ngClass]="{ 'ppi-dnd-button': true, 'ppi-dnd-button-active': this.dragZoneIsActive }">
        Drag activity here
      </div>
    </div>

    <div class="ppi-basket">
        <img src="assets/imgs/business.png"/>
    </div>
  </div>
</ion-content>
