// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
    background-image: url('../assets/imgs/background.jpg');
    background-size: cover;
}

.ppi-basket {
    position: absolute;
    width: 10vmin;
    bottom: 5vmin;
    left: calc(50% - 5vmin);
    opacity: 0.4;
    transition: opacity 1s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.ppi-greating {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    &__circle {
        border: 10px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100vmin;
        overflow: hidden;
        width: 50vmin;
        height: 50vmin;
        font-size:  50px;
        text-align: center;
        text-overflow: ellipsis;
    }
}

.ppi-dnd-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vmin;
    overflow: hidden;
    width: 25vmin;
    height: 25vmin;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.5s;
    font-size: 30px;
    text-align: center;
    text-overflow: ellipsis;
    color: gray;

    img {
        width: 100%;
        height: 100%;
    }

    &.ppi-dnd-button-active {
        background-color: whitesmoke;
        box-shadow: inset 0px 0px 45px -5px black;
    }
}

.ppi-circle.ppi-dragging-circle {
    box-shadow: 1px 1px 20px 0px black;
    z-index: 200;
    &:hover {
        width: 15vmin;
        height: 15vmin;
        margin-top: - 7.5vmin;
        margin-left: - 7.5vmin;
    }
}

.ppi-circle {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    background-color: white;
    margin-top: - 5vmin;
    margin-left: - 5vmin;
    border-radius: 100vmin;
    top: 100px;
    left: 100px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.5s,
                height 0.5s,
                margin-top 0.5s,
                margin-left 0.5s;

    img {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    &:hover {
        opacity: 1;
        // width: 15vmin;
        // height: 15vmin;
        // margin-top: - 7.5vmin;
        // margin-left: - 7.5vmin;
    }
}

.ppi-circular-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vmin;
    overflow: hidden;
    width: 25vmin;
    height: 25vmin;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.5s;
    font-size: 30px;
    text-align: center;
    text-overflow: ellipsis;
    color: gray;

    img {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: whitesmoke;
        box-shadow: 0px 0px 25px -5px black;
    }
}

.ppi-circular-button.ppi-circular-icon {
    border: 3px solid white;
    background-color: white;
    opacity: 0.8;

    img {
        width: 70%;
        height: 70%;
    }
}

.ppi-circular-button.ppi-circular-image {
    border: 3px solid rgb(73, 141, 73);
    background: 3px solid rgb(73, 141, 73);
    opacity: 0.8;
}