page-making-call {
    .ppi-active {
        background-color: green!important;
        &:hover {
            background-color: seagreen!important;
        }
    }
      
    .ppi-video-chat-window {
        position: relative;
        z-index: 100;
        overflow: hidden;
        height: 50vmin;
        width: 75vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        
        margin: -15vh -5vmin 0 -5vmin;

        &__image {
            max-width: 100%;
            max-height: 100%;
        }

        &__error {
            color: white;
            font-size: 6vmin;
        }

        &__incoming-video {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // height: 100%;
            > video {
                background-color: black;
                border: 1px solid black;
                width: 100%;
                // max-height: 100%;
            }
        }

        &__outgoing-video {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            bottom: 10px;
            right: 10px;
            width: 200px;
            height: 120px;
            > video {
                border: 1px solid black;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .ppi-greating__circle {
        img {
            opacity: 0.3;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .ppi-making-call-screen {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;

        &_people, &_activities {
            z-index: 10;
            width: 40vmin;
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &_text-chat {
            z-index: 100;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80vmin;
            height: 90%;
            background-color: white;
            overflow: hidden;
            bottom: 5vmin;
            left: calc(50% - 40vmin);
            display: flex;
            border-radius: 50px;
            box-sizing: border-box;
            padding: 25px 30px;
            box-shadow: 0px 0px 17px -4px black;
            justify-content: space-between;

            &__messages {
                position: relative;
                flex-grow: 1;
                margin: 0;
                overflow-x: hidden;
                overflow-y: auto;
                white-space: normal;
                padding: 0;
                box-sizing: content-box;
                flex-grow: 1;

                .ppi-chat-messages {
                    label {
                        color: gray;
                    }
                    div {
                        font-size: 20px;
                        color: gray;
                    }
                    margin-top: 5px;
                }
            }

            &__new-message {
                margin-top: 10px;
                height: 100px;
                border-radius: 10px;
                border: 1px solid gray;
                flex-grow: 0;
            }
        }

        &_options {
            z-index: 15;
            position: absolute;
            width: 80vmin;
            height: 12vmin;
            background-color: white;
            overflow: hidden;
            bottom: 5vmin;
            left: calc(50% - 40vmin);
            display: flex;
            border-radius: 100vmin;
            box-sizing: border-box;
            padding: 1vmin;
            box-shadow: 0px 0px 17px -4px black;
            justify-content: space-between;

            &__option, &__basket, &__place {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 0;
                height: 10vmin;
                width: 10vmin;
                min-height: 10vmin;
                min-width: 10vmin;
                border-radius: 100vmin;
                overflow: hidden;
                margin-right: 1vmin;
                border-color: white;
                border: 2px solid white;
                cursor: pointer;

                img {
                    width: 70%;
                    height: 70%;
                }

                &:hover {
                    border-color: whitesmoke;
                    background-color: whitesmoke;
                }
            }

            &__place {
                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    border-color: darkgray;
                    background-color: darkgray;
                }
            }

            &__basket {
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    } 
}
