<ion-header>
  <ion-navbar>
    <ion-title>
      Making call
    </ion-title>
  </ion-navbar>
  <user-info></user-info>
</ion-header>

<ion-content padding>
  <div class="ppi-making-call-screen">
    <div class="ppi-making-call-screen_people">
      <div
        *ngIf="person"
        (click)="changePerson()"
        class="ppi-circular-button ppi-circular-image">
        <img [src]="person.image"/>
      </div>
    </div>

    <div class="ppi-video-chat-window">
        <img
          *ngIf="person && !isCallActive"
          class="ppi-video-chat-window__image"
          [src]="person.image"
        />
        <div
          #incomingVideo id="incomingVideo"
          class="ppi-video-chat-window__incoming-video"
        ></div>
        <div *ngIf="!person" class="ppi-video-chat-window__error">
            No connection
        </div>
        <div class="ppi-video-chat-window__outgoing-video">
          <video
            #outgoingVideo id="outgoingVideo">
          </video>
        </div>
    </div>

    <div class="ppi-making-call-screen_activities">
      <div
        *ngIf="activity"
        (click)="changeActivity()"
        class="ppi-circular-button ppi-circular-icon">
        <img [src]="activity.image"/>
      </div>
    </div>
    
    <div class="ppi-making-call-screen_options">
      <div
        *ngIf="place"
        class="ppi-making-call-screen_options__place"
        (click)="changePlace()">
        <img [src]="place.image"/>
      </div>
      <div
        [attr.title]="isCallActive ? 'Stop call' : 'Start call'"
        [ngClass]="{'ppi-active': isCallActive, 'ppi-making-call-screen_options__option': true}"
        (click)="joinCall()">
        <img src="assets/imgs/call-answer.png"/>
      </div>
      <div
        [attr.title]="isVideo && isCallActive ? 'Stop video' : 'Start video'"
        [ngClass]="{'ppi-active': isVideo && isCallActive, 'ppi-making-call-screen_options__option': true}"
        (click)="switchVideo()">
        <img src="assets/imgs/video-camera.png"/>
      </div>
      <div class="ppi-making-call-screen_options__basket">
        <img src="assets/imgs/business.png"/>
      </div>
    </div>
  </div>
</ion-content>
