widget-places {
    position: absolute;
    left: calc(50% - 40vmin);
    bottom: 5vmin;
    z-index: 200;

    .ppi-places-screen {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;

        &_people, &_activities {
            z-index: 10;
            width: 40vmin;
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &_places {
            width: 80vmin;
            height: 12vmin;
            background-color: rgba(255, 255, 255, 0.3);
            overflow: hidden;
            display: flex;
            border-radius: 100vmin;
            box-sizing: border-box;
            padding: 1vmin;
            box-shadow: 0px 0px 17px -4px black;

            h2 {
                position: absolute;
                color: white;
                top: -35px;
                width: 100%;
                text-align: center;
            }

            &__dnd-place {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__list {
                flex-grow: 1;
                display: flex;
                overflow-y: hidden;
                overflow-x: auto;
                justify-content: center;
            }

            .ppi-place, &__basket, &__dnd-place {
                flex-grow: 0;
                height: 10vmin;
                width: 10vmin;
                min-height: 10vmin;
                min-width: 10vmin;
                border-radius: 100vmin;
                overflow: hidden;
                margin-right: 2vmin;
                border-color: white;
                border: 2px solid white;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }

                &:hover {
                    border-color: darkgray;
                    background-color: darkgray;
                }
            }

            .ppi-selected-place {
                position: relative;
                box-shadow: 0px 0px 20px 0px #0072ff;
                &:before {
                    content: '';
                    box-shadow: inset 0px 0px 20px 0px #0072ff;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 100%;
                    pointer-events: none;
                }
            }

            .ppi-place-shadow {
                flex-grow: 0;
                height: 10vmin;
                width: 10vmin;
                min-height: 10vmin;
                min-width: 10vmin;
                border-radius: 100vmin;
                background-color: darkgray;
                margin-right: 2vmin;
            }

            &__dnd-place {
                background-color: whitesmoke;
                &.ppi-dnd-place-active {
                    background-color: whitesmoke;
                    border-color: whitesmoke;                    
                    box-shadow: inset 0px 0px 15px -5px black;
                }
            }

            &__basket {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 70%;
                    height: 70%;
                }
                opacity: 0.6;
                margin-right: 0;

                &:hover {
                    opacity: 1;
                    border-color: whitesmoke;
                    background-color: whitesmoke;
                }
            }
        }
    }

    .ppi-dragging-circle {
        position: absolute;
        cursor: pointer;
    }

    .ppi-greating__circle {
        img {
            width: 100%;
            height: 100%; 
        }
    }
}
